Repository frextrite/Data-Structures-Algorithms-Hacktoberfest-2K19, pull requests merged in 2019-10, with the labels that each got.

#2 Create .gitignore
  .gitignore
Labels: Hacktoberfest

#4 Implement binary search in c++
  Algorithms/Search/C++/Binary search.cpp
Labels: Hacktoberfest

#7 01 knapsack
  Algorithms/KnapSack/cpp/01knapsack_recursion.cpp
Labels: Hacktoberfest

#21 interpolation_search added
  Algorithms/Search/C++/interpolation_search.cpp
Labels: Hacktoberfest

#23 Added Python Binary Search
  Algorithms/Search/Python/BinarySearch.py
  Algorithms/Search/Python/LinearSearch.py
Labels: Hacktoberfest

#33 Add mergesort algorithm implementation in c++
  Algorithms/Mergesort/C++/mergesort.cpp
Labels: Hacktoberfest

#30 Add quicksort algorithm implementation in c++
  Algorithms/Quicksort/c++/quicksort.cpp
Labels: Hacktoberfest

#5 Implemented Binary Search Algorithm
  Algorithms/Search/c++/binary_search.cpp
  Algorithms/Search/c/binary_search.c
Labels: Hacktoberfest

#20 Updated Binary search.cpp
  Algorithms/Search/C++/Binary search.cpp
Labels: Hacktoberfest

#39 Backtracking/Sudoko
  Algorithms/Backtracking/C++/sudoko.cpp
  Algorithms/Dynamic Programming/C++/coin_change.cpp
Labels: Hacktoberfest

#38 Linear search
  Algorithms/Search/C++/Linear_search.cpp
Labels: Hacktoberfest

#42 Bubble sort in C++
  Algorithms/Bubblesort/c++/bubblesort.cpp
Labels: Hacktoberfest

#51 Update bubblesort.cpp
  Algorithms/Bubblesort/c++/bubblesort.cpp
Labels: Hacktoberfest

#40 Added the Binary tree implementation in cpp
  Data Structures/Binary Tree/c/bt.c
Labels: Hacktoberfest

#48 algorithm for next greater element
  Algorithms/next_greater_elemet.cpp
Labels: Hacktoberfest

#45 Added KMP Algorithm
  Algorithms/KMP/C++/kmp.cpp
Labels: Hacktoberfest

#64 Added edit-distance.cpp dp code
  Algorithms/Dynamic Programming/C++/edit-distance.cpp
Labels: Hacktoberfest

#31 Linked List Python
  Data Structures/Linked List/python/linked_list.py
Labels: Hacktoberfest

#8 fractional knapsack problem using greedy algorithm
  Algorithms/Greedy/cpp/fractionalKnapsack.cpp
Labels: Hacktoberfest

#57 added staircase implementation
  Algorithms/Dynamic Programming/C++/staircase.cpp
Labels: Hacktoberfest

#66 Create gold mine dp problem
  Algorithms/Dynamic Programming/C++/GOLD_MINE.cpp
Labels: Hacktoberfest

#49 Bubble sort in python
  Algorithms/Bubblesort/python/bubbleSort.py
Labels: Hacktoberfest

#17 added bubble_sort.c
  Algorithms/Sort/c/bubble_sort.c
Labels: Hacktoberfest

#46 implementation binary tree in python
  Data Structures/Binary Tree/python/binary_tree.py
Labels: Hacktoberfest

#55 add bubble sort in python
  Algorithms/Bubblesort/python/bubblesort.py
Labels: Hacktoberfest

#71 Implement automerge github action
  .github/workflows/automerge_pull_requests.yml
Labels: Hacktoberfest, approved, ready-to-merge

#82 Pull Request auto labeler on approval
  .github/workflows/label_approved_pull_request.yml
Labels: Hacktoberfest, approved, ready-to-merge

#84 Add pull request labeler action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Hacktoberfest, approved, ready-to-merge

#135 Add the bubblesort algorithm for c language
  Algorithms/Bubblesort/c/bubblesort.c
Labels: Hacktoberfest, approved, ready-to-merge

#133 BFS and DFS Graph Search Algorithms in Javascript and Python (ES6)
  Algorithms/bfs_dfs/javascript/bfs_dfs.js
  Algorithms/bfs_dfs/python/bfs_dfs.py
Labels: Hacktoberfest, approved, ready-to-merge

#87 Add Union Find Data Structure in Java
  Data Structures/UnionFind/java/README.md
  Data Structures/UnionFind/java/UnionFind.java
Labels: Hacktoberfest, approved, ready-to-merge

#137 Added binary search tree code
  Data Structures/Binary Search Tree/c++/bst.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#132 added quicksort algorithm written in python
  Algorithms/Quicksort/python/quick_sort.py
Labels: Hacktoberfest, approved, ready-to-merge

#108 add python bloom filter implementation
  Data Structures/Bloom Filter/Python/bloom_filter.py
Labels: Hacktoberfest, approved, ready-to-merge

#121 Added some Python examples
  Algorithms/Dynamic Programming/c++/coin_change.cpp
  Algorithms/Dynamic Programming/c++/cutting_a_rod.cpp
  Algorithms/Dynamic Programming/c++/edit-distance.cpp
  Algorithms/Dynamic Programming/c++/gold_mine.cpp
  Algorithms/Dynamic Programming/c++/lcs.cpp
  Algorithms/Dynamic Programming/c++/staircase.cpp
  Algorithms/Dynamic Programming/python/coin_change.py
  Algorithms/Dynamic Programming/python/dp_subsetsum.py
  Algorithms/Dynamic Programming/python/edit_distance.py
  Algorithms/Mergesort/c++/mergesort.cpp
  Algorithms/Mergesort/python/mergesort.py
  Algorithms/Quicksort/Python/naive_quicksort.py
  Algorithms/next_greater_element.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#112 Added AVL Tree implementation in Python3
  Data Structures/AVL Tree/Python/avl_tree.py
Labels: Hacktoberfest, approved, ready-to-merge

#113 Added bubblesort in js
  Algorithms/Bubblesort/javascript/bubblesort.js
  Algorithms/Bubblesort/python/bubblesort.py
Labels: Hacktoberfest, approved, ready-to-merge

#109 Implemented Stack using c++, Fixes #70
  Data Structures/Stack/cpp/.gitignore
  Data Structures/Stack/cpp/README.md
  Data Structures/Stack/cpp/stack.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#106 Implementation of Selection Sort in python
  Algorithms/SelectionSort/python/selectionsort.py
Labels: Hacktoberfest, approved, ready-to-merge

#101 Create BigIntegerFactorials.cpp
  Algorithms/BigIntegerFactorials.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#139 Algorithms/sort/cpp
  Algorithms/Sort/cpp/countingsort.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#9 Insertion Sort in c++
  Algorithms/Sort/cpp/insertion_sort.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#72 Opensourcing
  Data Structures/Linked List/C/linked_list_basics.c
Labels: Hacktoberfest, approved, ready-to-merge

#75 hacktoberfest
  Algorithms/Dynamic Programming/C++/lis.cpp
Labels: Hacktoberfest, ready-to-merge

#76 added bucket sort algorithm at correct location as mentioned in mail
  Algorithms/Sort/C++/BucketSort.cpp
Labels: Hacktoberfest, ready-to-merge

#77 created assembly line sheduling
  Algorithms/Dynamic Programming/C++/AssemblyLineScheduling.cpp
Labels: Hacktoberfest, ready-to-merge

#78 Added Trie Data Structure
  Data Structures/Trie/C++/Trie.cpp
Labels: Hacktoberfest, ready-to-merge

#177 merge sort erlang
  Algorithms/Mergesort/erlang/mergesort.erl
Labels: Hacktoberfest, approved, ready-to-merge

#156 Fenwick Tree in C++
  Data Structures/Fenwick Tree/cpp/fenwick_tree.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#141 Add Bubble Sort
  Algorithms/Sort/cpp/bubbleSort.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#160 Linked list c++
  Data Structures/Linked List/cpp/linked_list.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#171 Added Linked List data structure in C++ Language
  Data Structures/Linked List/c++/DoubleCircularLinkedList.cpp
  Data Structures/Linked List/c++/DoublyLinkedList.cpp
  Data Structures/Linked List/c++/SingleCircularLinkedList.cpp
  Data Structures/Linked List/c++/SinglyLinkedList.cpp
  Data Structures/Linked List/c++/a.out
Labels: Hacktoberfest, approved, ready-to-merge

#187 Add java stack
  Data Structures/Stack/java/README.md
  Data Structures/Stack/java/Stack.java
Labels: Hacktoberfest, approved, ready-to-merge

#180 Added a data structure under stack/c
  Algorithms/SelectionSort/c/selection.cpp
  Data Structures/Stack/c/stack using array.c
Labels: Hacktoberfest, approved, ready-to-merge

#167 Rat in a maze
  Algorithms/ratInMazeAllPaths.py
Labels: Hacktoberfest, approved, ready-to-merge

#99 Matrix multiplication in C++
  Algorithms/Dynamic Programming/C++/MATMUL.CPP
Labels: Hacktoberfest, approved, ready-to-merge

#144 Added C Implementation of LinkedList
  Data Structures/Linked List/C/linked_list.c
Labels: Hacktoberfest, ready-to-merge

#182 Adding Queue Data-structure using C
  Data Structures/Queue/C/queue.c
Labels: Hacktoberfest, approved, ready-to-merge

#155 implementation of radixsort
  Algorithms/Sort/cpp/countingsort.cpp
  Algorithms/Sort/cpp/radixsort.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#161 added house_thief implementation
  Algorithms/Dynamic Programming/C++/house_thief.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#162 Add the heapsort algorithm for C language
  Algorithms/Heapsort/C/heapsort.c
Labels: Hacktoberfest, approved, ready-to-merge

#165 Added SOM algo wrt issue #164
  Algorithms/SOM/python/som.py
Labels: Hacktoberfest, approved, ready-to-merge

#130 Binary Heap
  Data Structures/ReadMe.md
  Data Structures/heap/cpp/binary_heap.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#215 Binary Search Tree Traversal :Update
  Data Structures/Binary Search Tree Traversal/Inorder/Inorder.py
  Data Structures/Binary Search Tree Traversal/Postorder/Postorder.py
  Data Structures/Binary Search Tree Traversal/Preorder/Preorder.py
Labels: Hacktoberfest, approved, ready-to-merge

#217 Hash table c++
  Data Structures/HashTable/cpp/README.md
  Data Structures/HashTable/cpp/hash_table.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#213 Added the BFS DFS implementation to solve matrix problems #Hacktoberfest2019
  Algorithms/bfs_dfs/C++/ShortestPathInAMatrix.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#204 Implemented kadane algorithm for Maximum Subarray Sum
  Algorithms/Dynamic Programming/C++/Maximum_Subarray_Sum.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#29 sort folder added and in python folder heapsort and quicksort algorithms added c++ folder added .
  Algorithms/Sort/C++/heapsort.cpp
  Algorithms/Sort/python/heapsort.py
  Algorithms/Sort/python/quicksort.py
Labels: Hacktoberfest, approved, ready-to-merge

#232 Adding C++ Code File Of Seive Of Erathosthenes Algorithm
  Algorithms/Seive-Of-Eratosthenes/c++/seive.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#234 add sudoku solver
  Algorithms/Sudoku_Solver/cpp/sudoku_solver.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#219 Tower of Hanoi implementation in C++
  Algorithms/TowerOfHanoi/cpp/towerOfHanoi.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#221 Added longest common subseq prog
  Algorithms/Dynamic Programming/python/longestcommonsubseq.py
Labels: Hacktoberfest, approved, ready-to-merge

#226 Algorithm to Find Kth Smallest Element Closes #212
  Algorithms/KthSmallest/java/KthSmallestElement.java
Labels: Hacktoberfest, approved, ready-to-merge

#284 Adding Dijkstra's Algorithm in C++
  Algorithms/Dijkstra/C++/Dijkstra.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#288 [Algo]Fast Exponentiation(modular) with O(log n) using C
  Algorithms/fast_expo.c
Labels: Hacktoberfest, approved, ready-to-merge

#274 Added Floyd–warshall in c++
  Algorithms/Floyd-Warshall/C++/Floyd-Warshall.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#295 added Graph algorithms in cpp for Bridges, Articulation Points and Ma…
  Algorithms/Graphs/cpp/articulationPoint.cpp
  Algorithms/Graphs/cpp/bridges.cpp
  Algorithms/Graphs/cpp/maxFlowFordFulkerson.cpp
  Data Structures/Graphs/cpp/articulationPoint.cpp
  Data Structures/Graphs/cpp/bridges.cpp
  Data Structures/Graphs/cpp/maxFlowFordFulkerson.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#293 Created TernarySearch.java
  Algorithms/Search/Java/TernarySearch.java
Labels: Hacktoberfest, approved, ready-to-merge

#290 Added Merge Sort Implementation in C Language
  Algorithms/Mergesort/C/mergesort.c
Labels: Hacktoberfest, approved, ready-to-merge

#283 Added bogosort in java
  Algorithms/bogosort/java/bogosort.java
Labels: Hacktoberfest, approved, ready-to-merge

#282 Added bogosort in C++
  Algorithms/bogosort/C++/bogosort.cpp
  Algorithms/bogosort/README.md
Labels: Hacktoberfest, approved, ready-to-merge

#278 New branch
  Algorithms/next_greater_element.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#264 Algorithms/sort/cpp/bucketsort.cpp
  Algorithms/Sort/cpp/bucketsort.cpp
  Data Structures/Queue/c++/queue.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#266 Added selection sort in java
  Algorithms/SelectionSort/java/selectionsort.java
Labels: Hacktoberfest, approved, ready-to-merge

#265 Added mergesort in java
  Algorithms/Mergesort/java/mergesort.java
Labels: Hacktoberfest, approved, ready-to-merge

#242 NodesBetweenTwoLevels in Binary Tree
  Data Structures/Binary Tree/C++/NodesBetweenTwoLevels.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#238 Added C++ code file for Extended-Euclidean
  Algorithms/Extended-Euclidean/c++/algo.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#172 add backtracking in python
  Algorithms/Backtracking/Python/N-Queen.py
Labels: Hacktoberfest, approved, ready-to-merge

#222 Implement stack using python
  Data Structures/Stack/Python/README.md
  Data Structures/Stack/Python/stack.py
Labels: Hacktoberfest, approved, ready-to-merge

#95 Added word boggle solution along with problem description under backtracking repo
  Algorithms/Word Boggle/Problem_Description.md
  Algorithms/Word Boggle/WORD_BOGGLE.java
Labels: Hacktoberfest, approved, ready-to-merge

#179 Create MergeSort.java
  Algorithms/Mergesort/java/MergeSort.java
Labels: Hacktoberfest, approved, ready-to-merge

#142 Added Circular LinkedList in java
  Data Structures/Linked List/Java/CircularLinkedList.java
Labels: Hacktoberfest, approved, ready-to-merge

#185 Added BubbleSort Kotlin Program
  Algorithms/Bubblesort/Kotlin/BubbleSort.kt
Labels: Hacktoberfest, approved, ready-to-merge

#313 Add code for Tower of Hanoi without stack or recursion.
  Algorithms/TowerOfHanoiOptimised/Java/TowerOfHanoi.java
Labels: Hacktoberfest, approved, ready-to-merge

#306 BubbleSort in Kotlin
  Algorithms/Bubblesort/kotlin/BubbleSort.kt
  README.md
Labels: Hacktoberfest, approved, ready-to-merge

#318 operations_on_linked_list
  Data Structures/Linked List/C/operations_on_linked_list
Labels: Hacktoberfest, approved, ready-to-merge

#366 Added Sudoku Implementation in Java
  .gitignore
  Algorithms/Sudoku_Solver/java/Sudoku.java
Labels: Hacktoberfest, approved, ready-to-merge

#364 Kruskal MST in C++
  Algorithms/graph/c++/Kruskal MST in C++.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#363 Create BoxStacking.java
  Algorithms/Dynamic Programming/Java/BoxStacking.java
Labels: Hacktoberfest, approved, ready-to-merge

#357 [Algo] Selection Sort in Rust #235
  Algorithms/SelectionSort/rust/SelectionSort.rs
Labels: Hacktoberfest, approved, ready-to-merge

#356 added doubly circular linked list in javascript
  Data Structures/Linked List/Javascript/doubly_circular_linked_list.js
Labels: Hacktoberfest, approved, ready-to-merge

#351 added recursive solution for no. of ways to get amount from given deno…
  Algorithms/Recursion/coinchange/c++/coin_change_rec.cpp
Labels: Hacktoberfest, approved, ready-to-merge

#350 Proposed addition of "Julia".
  README.md
Labels: Hacktoberfest, approved, ready-to-merge
